/* container of an box in the home section */
.boxContainer {
	position: relative;
	width: 100%;
	height: 25vw;
	max-height: 500px;
	margin: 2rem 0;
	transition: all ease 1s;
	transform: translateY(100px);
	opacity: 0;
}

/* this class is used to animate the box container when it appears on the screen */
.fadeAndMoveFromBelow {
	transform: translateY(0);
	opacity: 1;
}

/* the background image of the box */
.boxImage {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(80%);
}

/* the group that contains the article category and the button (to know more) */
.boxTitleGroup {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* the title of the box, which is the corresponding article category */
.articleCategory {
	font-size: 7vw;
	letter-spacing: -0.5vw;
}
