/* the container of the footer */
#footerContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	font-size: 0.8rem;
}

/* a part of the footer */
.footerElement {
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;
}

/* the title of all footer element */
.footerElementTitle {
	margin: 1.5rem;
}

/* the nav bar of the footer */
#footerNavList {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
}

/* an item (link) from the nav bar of the footer */
.footerNavLink {
	padding: 0.2rem 0;
}
