/* Container of the whole app */
#appContainer {
	display: grid;
	place-items: center;
	margin: 0 auto;
	width: 70%;
}

@media screen and (max-width: 600px) {
	#appContainer {
		margin: 0;
		width: 100%;
	}
}
